@model AppMvc.Net.Models.ProductModel

<div class="card bg-primary text-white">
    <h1 class="card-header">Xin chao @Model.Name</h1>
    <div class="card-body">
    <p class="card-text">
        Gia: @Model.Price
    </p>
    </div>
</div>